body {
	font-family: $font_regular;	
	margin: 0;
	padding: 0;

	@supports(grid-template-areas: '.') {
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100vh;
	}
}

main {
	margin: 0 auto;
	width: 90vw;
	max-width: 1200px;
}

a {
	background: $highlight;
	color: $neutral;

	&:hover, &:focus {
		background: $neutral;
		color: $highlight;
		text-decoration: none;
	}
}