$primary: #1C75BC;
$secondary: #6DAFFB;
$tertiary: #693E00;
$highlight: #DDA01D;
$neutral: #3E4756;

$font_regular: 'Source Sans Pro', Arial, sans-serif;
$font_heading: 'Source Sans Pro', Arial, sans-serif;

